@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans", sans-serif;
  font-size: 13px;
  color: #333;
  background: #eff3f7;
}

a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
}

ul li {
  list-style: none;
}

/* 공통서식 */
/* 네비게이션 서식 */
.header{
  width:200px;height:100%;
  text-align:center;
  position:fixed;
  top:0px;left:0px;
  z-index:100;
}
h1{padding:70px 0px 50px 0px;}
.navi {
line-height:40px;
}
.navi a{text-transform:uppercase; font-weight: bold;}
.nav li {
  line-height: 40px;
}
.navi a:hover{text-decoration: underline;}
.navi a {
  text-decoration: none;
  font-size: 16px;
  padding: 5px 10px;
  color: #5d5d5d;
  text-shadow: 0px 1px 1px #adadad;
}
/* 메인서식 */
main{
  width:calc(100% - 200px);
  height:100%;
  position:fixed;
  top:0px;
  left:200px;
  padding-top:50px;
  overflow:scroll;
}

/* 푸터서식 */
footer {
  width:100%;line-height:40px;
  background: #333;
  color: #fff;
}

footer address {
  text-align:center;
  font-style: normal;
}

/* 가로해상도 1025px 이상일경우 */
@media screen and (min-width:1025px) {}

/* 가로해상도 768 - 1024px */
@media screen and (min-width:768px) and (max-width:1024px) {}

/* 모바일 버전 */
@media screen and (max-width:776px) {}